@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Cantata+One);


/* CSS Document */
body {
	color: #2b2b2b;
	line-height: 1.8;
	margin: 0;
	font-family: 'Merriweather', serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:2px;
}
a {
	color: rgb(255, 232, 0);
	text-decoration: underline;
	-webkit-transition:	all 0.3s;
	-moz-transition:	all 0.3s;
	transition:			all 0.3s;
}
.search-field::-webkit-search-cancel-button{
    position:relative;
    right:20px;  
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius:10px;
    background: rgb(255, 232, 0);
}
.search-field::-webkit-search-cancel-button:after{
    content: "\f00d";
    font-family: FontAwesome;
    position: relative;
    top:-5px;
    left:4px;
    font-size:80%;
    color:#394148;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.inner{
	margin:0 auto;
	max-width:960px;
}

.main-navigation{
	padding:0 15px;
	background:#262b2f;
}

.main-navigation .inner{
	position:relative;
}


/* Site Navigation
------------------------*/
.nav-menu {
	padding-right: 60px;
}

.nav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-menu li {	
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	padding: 15px 0;
	position: relative;
}

.nav-menu a {
	border-left: 2px solid #30373d;
	color: #fff;
	display: block;
	padding: 0 15px;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-menu li:first-child a {
	border-left: 0;
	padding-left: 0;
}

.nav-menu .sub-menu,
.nav-menu .children {
	background: #262b2f;
	border-top: 2px solid #27ae60;
	-webkit-box-shadow:	0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:	0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:			0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	display: none;
	left: 0;
	position: absolute;
	top: 100%;
	width: 180px;
	z-index: 999;
}

.nav-menu .sub-menu li,
.nav-menu .children li {
	border-bottom: 2px solid #30373d;
	display: block;
	float: none;
	padding: 0;
}

.nav-menu .sub-menu li:last-child,
.nav-menu .children li:last-child {
	border-bottom: 0;
}

.nav-menu .sub-menu a,
.nav-menu .children a {
	border-left: 0;
	padding-bottom: 15px;
	padding-top: 15px;
}

.nav-menu .sub-menu li:first-child a,
.nav-menu .children li:first-child a {
	padding-left: 15px;
}

.nav-menu li:hover > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a,
.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a {
	color: rgb(255, 232, 0);
}

.social-media{
	position: absolute;
	right: 66px;
	top: 0;
}
.social-media a i {
	font-size:14px;
	margin-left:14px;
	line-height:42px;
	color:rgb(255, 232, 0);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	 -o-transition: all 0.2s linear;
		transition: all 0.2s linear;
}



#search-toggle {
	color: rgb(255, 232, 0);
	background:#394148;
	font-size: 14px;
	line-height:42px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	text-decoration: none;
	width: 50px;
}
#menu-toggle.icon-cross,
#search-toggle.icon-cross,
#menu-toggle:hover,
#search-toggle:hover {
	color: #fff;
}

.search-box {
	width:100%;
	background: #394148;
	overflow-y: hidden;
	height: 80px;
	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: cubic-bezier(0, 1, 0.6, 1);
}
.search-box.closed{
	height:0;
}
.search-box .search-form{
	position:relative;
	top:22px;
	padding-right:150px;
}
.search-form .search-field {
	padding:0 0 0 12px;
	border:none;
	width:100%;
	background: #30373d;
	color: #fff;
	font-size: 18px;
	font-style: italic;
	height: 40px;
}
.search-form input[type="search"]:focus{
	color:#fff;
}
.search-form .search-submit,.search-form .search-submit:hover, .search-form .search-submit:focus, .search-form .search-submit:active {
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 120px;
	border:none;
	text-shadow:none;
	background: rgb(255, 232, 0);
	color:#262b2f;
	font-weight:bold;
	box-shadow:none;
	transition:background-color .2s linear;
	cursor:pointer;
}
.search-form .search-submit:hover{
	background: #fff;
}
.search-field::-ms-clear {  color:#fff; }
.search-field::-ms-reveal {  color:#fff; }
.search-field::-webkit-search-decoration,
.search-field::-webkit-search-cancel-button,
.search-field::-webkit-search-results-button,
.search-field::-webkit-search-results-decoration { color:#fff; }

.search-form .search-field:focus{
	outline:2px solid rgb(255, 232, 0);
}
/* Title & Logo */
.site-header, .site-header .inner{
	/*padding:60px 0 74px;*/
	position: relative;
}
.site-branding{
	text-align:center;
}
.site-branding.left{
	text-align:left;
}
.site-title {
	letter-spacing: -1.5px;
	color:#2b2b2b;
	font-size:70px;
	line-height:70px;
	display: block;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
.site-tagline{
	text-transform:uppercase;
	font-size:20px;
	line-height: 20px;
	display: block;
	color:rgb(132, 30, 30);
	font-family: 'Cantata One', serif;
	transform: rotate(-3deg);
	transform-origin: 57% 100%;
}
.site-header{
	background-color:rgb(255, 232, 0);
	margin-bottom: 32px;
}
#site-logo{
	line-height: 100%;
}
#site-logo a {
	text-decoration: none;
	display: block;
}
#site-logo.left{
	float:left;
	text-align: left;
}
#site-logo.right{
	float:right;
	text-align: right;
}
#site-logo h1{
	padding:90px 0;
}
.head-overlay{
	position: absolute;
	width:100%;
	height:100%;
	background-color:#000;
	opacity: 0;
}

/* = Tooltips
----------------------------------------------- */
.tooltipsy
{
    padding: 5px 10px;
    max-width: 200px;
    color: #27ae60;
    background-color: #262b2f;
    font-size:85%;
}


/* Homepage posts
---------------------------------------------------- */
.entry-header, .entry-content, .entry-footer, .author-info, .page-title, .page-content{
	margin-left:auto;
	margin-right:auto;
	max-width:720px;
}
.entry-header{
	text-align:center;
	margin-top:18px;
	position:relative;
}
.entry-header .date{
	font-size:14px;
	display:block;
	color:#949494;
	text-transform:uppercase;
}
.entry-header .comment-count {
	position: absolute;
	top: 12px;
	font-weight: 800;
	right: 0;
	width: 30px;
	color: #fff;
}
.entry-header .comment-count span{
	display: block;
	position: relative;
	top: -29px;
	right: 1px;
	z-index: -10;
	color: #27ae60;
	font-size: 2em;
}
.entry-header a{
	text-decoration:none;
}
.entry-header .categories a {
	font-size:12px;
	text-transform:uppercase;
	margin-bottom:18px;
}
.entry-header h2 a {
	font-size:30px;
	color:#000;
	letter-spacing:4px;
	font-weight:400;
	text-transform:uppercase;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
}

.entry-title{font-size:38px;line-height: 120%;}
/* ------------------
Grid
*/
.indiepro-grid{
	list-style-type:none;
}
.indiepro-grid li{
	float:left;
	width:50%;
}

/* =================
SIDEBAR
*/
.indiepro-sidebar{
	width:70%;
	float:left;
	
}
.indiepro-sidebar.left{
	float:right;
}
#secondary{
	width:30%;
	float:right;
}
#secondary.left{
	float:left;
}

/* ===================
Column Layout
*/
.two-col article{
	width:49%;
	float:left;
}
.three-col article{
	width:33.333%;
	float:left;
}
.four-col article{
	width:25%;
	float:left;
}
.articles{
	position: relative;
clear: both;
overflow: visible;
}
.list{
	max-width:940px;
	margin:0 auto;
	transition:all .2s ease;
}
.list article {
	width: 100%!important;
	float:none!important;
}
@media all and (max-width:980px){
	.list{
		max-width:90%;
		margin:0 auto;
	}
	
}
/*
.post{
	margin-top:80px;
}
*/
.post-image.audio iframe {
	height:180px;
}
.inner-post{
	margin:10px;
	background:#f3ebe1;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.list .inner-post {
	margin:10px 0;
}
.entry-content, .entry-header{
	padding:0 24px;
}
.sticky-post{
	background: rgb(0, 168, 255);
	color: #fff;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	right: -20px;
	text-align: center;
	top: 20px;
	width: 35px;
	-ms-transform: skew(-9deg) rotate(-4deg);
    -webkit-transform: skew(-9deg) rotate(-4deg);
    transform: skew(-9deg) rotate(-4deg);
	z-index: 9999;
}
.more-link{
	display: block;
	text-align: center;
	padding:24px 0 6px;
	text-decoration: none;
	font-style: italic;
}
.post-share {
	text-align: center;
	border-top: 1px solid #dcdcdc;
	margin: 0 24px;
	padding: 24px;
}
.post-share a{
	display:inline-block;
	margin:0 20px;
}
.post-share a i {
	font-size: 1.25em;
}


/* feature slider */
.featured-area{
	margin-bottom: 1.5em;
}
.feat-overlay{
	position: absolute;
	bottom: 8px;
	left:0;
	width:100%;
	z-index: 2;
}
.feat-cat{
	display: block;
	background: rgba(0,0,0,.80);
	font-size: 11px;
	color: #eee;
	padding: 9px 30px;
	letter-spacing: .200em;
	text-align: left;
	text-transform: uppercase;
}
.feat-text h3{
	background: rgba(0,0,0,.60);
	color: #fff;
	font-size: 18px;
	padding: 0px 30px 5px;
	font-family: "Playfair Regular";
	line-height: 50px;
	text-align: left;
}

.format-quote .inner-post{
	background-color:#56C3D0;
}
.format-quote .featured-image-bg{
	background-position: center center;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
.format-quote blockquote {
	border: 0;
	color: #f2f5f7;
	font-size: 36px;
	font-style: italic;
	line-height: 1.3333333;
	margin: 0 0 24px;
	padding: 0;
	text-align: center;
}
.format-quote blockquote cite, .format-quote blockquote small {
	color: #aeb0b1;
	font-size: 24px;
}

.format-quote .entry-meta span {
	float:left;
}

.site-footer{
	position: relative;
}
/* Back to Top */
a.scroll-to-top {
	display: inline-block;
	border: 2px solid #ddd;
	width: 30px;
	height: 30px;
	margin-top: 30px;
	color: #ddd;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}
a.scroll-to-top:hover, a.scroll-to-top:focus {
	color: #bbb;
	border-color: #bbb;
}
a.scroll-to-top{
	position: absolute;
	bottom: 30px;
	right:30px;
}

.extra-border{
	position: absolute;
	border: 4px solid rgb(42, 42, 42);
	border-right-width: 8px;
	width: 100%;
	height: 100%;
	z-index: 9;
	-ms-transform: rotate(-1.8deg) skew(-2.5deg);
    -webkit-transform: rotate(-1.8deg) skew(-2.5deg);
    transform: rotate(-1.8deg) skew(-2.5deg);
    -webkit-border-image:url(border.png) 30 30 round; /* Safari 3.1-5 */
    -o-border-image:url(border.png) 30 30 round; /* Opera 11-12.1 */
    border-image:url(border.png) 30 30 round;
}
article
